@media screen and (max-width: 992px) {
  /*MAIN*/
  .main {
    flex-wrap: wrap;
    gap: 30px;
  }

  .a1 {
    width: 100%;
  }

  /*POPULAR*/

  aside {
    padding-left: 0%;
    margin-top: 53px;
  }

  .asidecard {
    max-width: 100%;
  }

  .asidecontainer {
    flex-direction: row;
    gap: 40px;
  }

  .asidetext {
    width: 130px;
  }

  .card2 {
    width: 100%;
  }
  .card2 p {
    font-size: 13px;
  }

  .card2 img {
    max-width: 37%;
  }

  /*ACTIVITIES*/

  #Activités h2 {
    margin-bottom: 34px;
  }

  .card3 img {
    height: 211px;
  }

  .f1 {
    margin-right: 0%;
  }
}

@media screen and (max-width: 768px) {
  /*HEADER*/

  header {
    flex-direction: column;
  }

  .logo {
    margin-left: 45%;
  }

  /*NAVIGATION*/

  nav ul li {
    border-bottom: 3px solid #f0f2f6;
    width: 100%;
    padding-bottom: 4%;
  }
  nav ul li:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  h5 {
    visibility: hidden;
  }

  .titre {
    margin-left: 5%;
  }

  /*SEARCH*/

  .search {
    display: flex;
    justify-content: center;
  }

  .bsearch i {
    display: inline;
    color: #f0f2f6;
  }

  #search_text {
    display: none;
  }

  #search_icon {
    display: inline;
  }

  /*FILTRES*/

  .filtre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .bfiltre {
    width: 40%;
  }

  .filtre h3 {
    width: 100%;
    margin-left: 5%;
  }

  /*INFO*/

  .info {
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 0px;
  }

  .ilogo {
    width: 25px;
    margin-right: 15px;
  }

  .ilogo i {
    font-size: 15px;
  }

  /*MAIN*/

  main {
    width: 100%;
  }

  .main {
    justify-content: center;
  }

  .a1 {
    order: 2;
    background: none;
  }

  .a2 {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  /*POPULAR*/

  .card2 {
    margin-bottom: 10px;
  }

  .card2 img {
    width: 137px;
  }
  aside {
    width: 100%;
  }

  .asidetitle {
    align-self: flex-start;
    display: flex;
  }
  .asidecard {
    width: 100%;
    border-radius: 0%;
  }

  .asidecontainer {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  /*ACTIVITIES*/

  .blocactiv {
    width: 90%;
    flex-direction: column;
    margin: auto;
  }

  #Activités h2 {
    margin-left: 5%;
  }

  .card3 {
    width: 100%;
  }
  .card3 img {
    height: 190px;
  }

  /*FOOTER*/

  .foot {
    flex-direction: column;
    margin-top: 20%;
  }

  .f1 li {
    margin-bottom: -2%;
  }
  footer h6 {
    padding-top: 5%;
  }
}
